@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;

  .App {
    max-width: 80vw;
    margin: auto;

    .header {
      text-align: center;

      input {
        border: 0;
        padding: 20px;
        border-radius: 30px;
        width: 400px;
        text-align: center;
        outline: none;
      }
    }

    .container {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      
      .nft {
        min-width: 200px;
        max-width: 400px;
        flex: 1;
        background-color: #ffffff;
        border-radius: 30px;
        margin: 1vw;
        overflow: hidden;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
        cursor: pointer;

        img {
          width: 100%;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 30px 30px 0 0;
        }

        .name {
          font-size: 18px;
          font-weight: 600;
          margin: 15px;
        }

        .description {
          margin: 15px;
          font-size: 12px;
        }
      }

      .message {
        color: #aaaaaa;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
